body {
    background: #E5E5E5;
}
.page-progress ul li {
    list-style: none;
    display: inline-block;
    width: 19.2%;
    height: 4px;
    border-radius: 4px;
}
.page-progress ul li a{
    background: #137F8F;
    display: block;
    opacity: .25;
    border-radius: 4px;
    height: 100%;
}
.page-progress ul li.active a {
    opacity: 1;
}
.page-progress {
    padding-bottom: 15px;
}
.header-top {
    margin-bottom: 21px;
    background: #fff;
    padding-top: 15px;
    padding-bottom: 5px;
}
.header-top h2 {
    font-size: 20px;
    font-weight: 600;
}
.nav-tabs li {
    width: 50%;
}
.nav-tabs .nav-link {
    margin-bottom: -1px;
    border-bottom: 3px solid #DEDDDC;
    border-top-left-radius: .25rem;
    border-top-right-radius: .25rem;
    color: #666666;
    font-size: 16px;
}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active {
    background-color: transparent;
    border: none;
    border-bottom: 3px solid #EB5E00;
    color: #EB5E00;
    font-size: 16px;
}
.search {
    padding-top: 20px;
}
.search .form-group .form-control {
    border: 1px solid #666666;
    height: 48px;
    font-size: 16px;
    border-radius: 8px;
    background: #fff url(../image/Search.png) no-repeat;
    background-position: 98% center;
}
.groups-area h2 {
    font-size: 20px;
    font-weight: 600;
    margin: 20px 0 8px;
}
.card {
    -webkit-box-shadow: 10px 10px 63px 5px rgba(0,58,83,0.08);
-moz-box-shadow: 10px 10px 63px 5px rgba(0,58,83,0.08);
box-shadow: 10px 10px 63px 5px rgba(0,58,83,0.08);
margin-bottom: 20px;
}
.tab-content>.active {
    display: block;
    margin-bottom: 100px;
}

.register-body h3 {
    font-size: 20px;
    font-weight: 400;
    color: #000;
    margin-bottom: 28px;
}
.register-body form label {
    font-size: 16px;
    font-weight: 400;
    color: #000;
}
.register-body .form-group {
    margin-bottom: 24px;
}
.card {
    border: none;
}
.groups-area h5 {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 5px;
}
.groups-area ul li {
    list-style: none;
    display: inline-block;
    font-size: 16px;
}
.groups-area ul li a {
    color: #000;
}
.groups-area ul li a img {
    margin-right: 5px;
}
.card-text {
    margin: 5px 0;
}
.card-body h6 {
    font-size: 13px;
    color: #000;
    font-weight: 400;
    margin-bottom: 8px;
}
.groups-area h5 img {
    margin-right: 8px;
}
.card-text1 {
    color: #666666;
    margin: 8px 0;
}
.register-body .form-group h4 {
    text-align: center;
    font-size: 16px;
    font-weight: 400;
}
.transparent-btn {
    border: 2px solid #003A53;
    color: #003A53;
    font-size: 16px;
    background: #fff;
    height: 48px;
    width: 100%;
    border-radius: 12px;
}
.sign-up {
    width: 100%;
    height: 60px;
    color: #fff;
    border: 2px solid #003A53;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
    background: #003A53;
    margin-bottom: 38px;
}
.unread {
    text-align: center;
    display: table-cell;
    height: 32px;
    border-radius: 5px;
    background: #CCD8DD;
    color: #003A53;
    font-size: 16px;
    font-weight: 600;
}



.footer p {
    font-size: 14px;
    color: #262626;
}
.footer {
    width: 100%;
    position: fixed;
    z-index: 999;
    background: #fff;
    bottom: 0;
    padding: 20px 0;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}