.modal-content {
    border-radius: 1rem;
}
.hover-hldr li {
    display: flex;
    box-shadow: 1px 3px 17px rgb(0 58 83 / 5%);
    border-radius: .3rem;
    border: 2px solid transparent;
}
.hover-hldr li .img-hldr {
    width: 80px;
    height: 80px;
    margin-right: 5%;
    background: #E8FCFF;
    border-radius: .3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hover-hldr li .desc-hover {
    width: 65%;
    min-height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hover-hldr li .desc-hover h3 {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
}
.hover-hldr li .desc-hover p {
    display: _none;
}
.hover-hldr li:hover,
.hover-hldr li:active {
    border-color: #137F8F;
}
/* .hover-hldr li:hover .desc-hover p {
    display: block;
} */
.btn-vh {
    background: rgba(0, 58, 83, 1);
    color: white;
    border-radius: 12px;
    padding: 10px 0;
}
