body {
    background: url(../image/slider-bg.svg) no-repeat;
    background-size: cover;
}
.logo {
    margin-top: 32px;
    margin-bottom: 19px;
}
.logo img {
    max-width: 100%;
}
.slider-area h1 {
    color: #262626;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 16px;
}
.slider-area p {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 49px;
}
.slider-area p a {
    color: #0072D6;
}
.carousel-indicators li {
    box-sizing: content-box;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    width: 17px;
    height: 14px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    cursor: pointer;
    background-color: #003A53;
    background-clip: padding-box;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    opacity: .5;
    transition: opacity .6s ease;
    border-radius: 24px;
}
.login {
    width: 150px;
    height: 60px;
    color: #003A53;
    border: 2px solid #003A53;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600;
    background: none;
}
.register {
    width: 150px;
    height: 60px;
    color: #fff;
    border: 2px solid #003A53;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600; 
    background: #003A53;
}
.button-area {
    margin-top: 80px;
}
.carousel-indicators {
    bottom: -40px;
}
.sign-up {
    width: 100%;
    height: 60px;
    color: #fff;
    border: 2px solid #003A53;
    border-radius: 12px;
    font-size: 24px;
    font-weight: 600; 
    background: #003A53; 
    margin-bottom: 38px;
}
.carousel-control-next, .carousel-control-prev {
    display: none;
}