@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400;600&display=swap');

body {
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 16px;
    font-weight: 400;
    background: #fff;
    margin: 0;
    padding: 0;
    color:#262626;
  }
  * {
      margin: 0;
      padding: 0;
  }
  img {
      border: none;
  }
  h1, h2, h3, h4, h5, h6, ul, ol, li, p, span, a {
      margin: 0;
      padding: 0;
}
li {
    list-style: none;
}